.gallery-background {
    background-color: #ff9dc5;
}

.Gallerycontainer {
	box-sizing: border-box;
	margin-top: 0;
}

.galleryHeader {
    height: 100px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
	text-align: center;
    font-size: 48px;
    padding: 24px;
    margin-top: 0px;
	font-family: 'Seymour One', sans-serif;    
	font-weight: 300;
	color: #fff;
}


hr {
	height: 8px;
	background-color: #fff;
}

.row {
	display: flex;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column2 {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	vertical-align: middle;
	width: 100%;
	margin-top: 8px;
}

.column2 img {
	vertical-align: middle;
	width: 100%;
	margin-top: 8px;
}

footer {
	text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	color: #14213d;
	font-size: 1.5em;
}

@media (max-width: 768px) {
	.column {
		max-width: 50%;
	}

	.column2 {
		display: none;
	}

    .row {
        flex-wrap: wrap;
    }

	.galleryHeader {
		font-size: 40px;
	}
}

@media (max-width: 576px) {
	.column {
		max-width: 100%;
	}
}